---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout title="Qual o App?">
    <div class="container">
        <div class="text-center my-5">
            <h2>
                Encontre o app que funciona na sua cidade
            </h2>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-4 col-lg-3 text-center">
                <div class="d-grid">
                    <a href="/delivery/" class="btn btn-outline-dark btn-lg">
                        Delivery
                    </a>
                </div>
            </div>
            <div class="col-auto">
                ou
            </div>
            <div class="col-4 col-lg-3">
                <div class="d-grid">
                    <a href="/mobilidade/" class="btn btn-outline-dark btn-lg">
                        Mobilidade
                    </a>
                </div>
            </div>
        </div>
    </div>
</SiteLayout>
